.cart_page_main {
    margin-top: 200px;
}

.cart_details_final {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 30px 15%;
}

.cart_details_final div {
    display: flex;
    align-items: center;
}

.cart_details_final p {
    margin-left: 80px;
}

.cart_details_actions {
    margin: 30px 25%;
    display: flex;
    justify-content: space-evenly;
}

.vertical_bar{
    width: 0;
    border: 1px solid black;
}

.cartpopupwrap{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  
    height: 90vh;
}

.cartpopup{
    background-color: white;
    box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    width: 45%;
}

.popup_head{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    gap: 10px;
    align-items: center;
}

.popupcontent{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}

.cart_submit_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;    

}